<html>
    <head>
        <title>Trevor's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">The Most Importantest Blog</a></h1>
        </div>

        <div>
            <p>published: 10.02.2020, 13:10</p>
            <h2><a href="">My first post</a></h2>
            <p>This post is first. There are none before it but many will follow. Buckle up.</p>
        </div>

        <div>
            <p>published: 10.02.2020, 13:11</p>
            <h2><a href="">My second post</a></h2>
            <p>This is not the first post. It is the second. There is one before and will be more after. Keep your seatbelt on.</p>
        </div>
    </body>
</html>